body{
background-image: url(https://images4.alphacoders.com/103/103888.jpg);
	background-repeat: no-repeat;
background-size: 150%; }






img {
	float: left;
margin-bottom:  10px;
margin-right: 250px;
border:solid brown 3px;  
}
#my_fl{
	color: #040138;
}

#header{
	color: #040138;
}

li#adress{
	margin-right: 16px;
	list-style: inside;
	list-style-type: square;
	
}
li#email{
	margin-right:  18px;
	list-style: inside;
	list-style-type: square;

	
}
#my_adress{
	color:#040138;
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;   

}

#my_email{
    color:#040138;
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;   


}
h3{
	font-size: 25px;
	color: #c40f59;
text-shadow: 6px 6px 10px #edffb2;
	
	
	align-content: center;
}

#aboutme{
	font-family: 'Cookie', cursive;
	font-size: 18px;
	}

#aboutme:hover{
background: #4f0a26;
color: white;

}
h4 {
	background: #03000f;
	font-size: 20px;
	color: white;
	width: 60%;
	align-content:center; 
	margin: 10px 312px;
	
}
table{
	background: #03000f;
	font-size: 20px;
	align-content: center;
	color: white;
}

hr.style2{
	border: 1px dashed;
	color: #f2dea4;

}
h5{font-size: 20px;
color:#771d00;}

ul#awards{
	color: #ff9966;
font-size: 15px;
}

h6{font-size: 20px;
color: #ff9966;}
ul#Internship{
	color: #ff9966;
font-size: 15px;
}

